source/venv*
source/.env

source/result/*.pptx
source/result/*.xlsx

source/*__pycache__

source/engine/*__pycache__

source/api/*__pycache__
source/api/controller/*__pycache__
source/api/model/*__pycache__
source/api/service/*__pycache__

source/util/*__pycache__
source/util/querybuilder/*__pycache__

*__pycache__
